<tui-root>

<div class="navbar">
  <div class="navbar__left">
    <a tuiButton routerLink="/">Рецепты</a>
    <a tuiButton routerLink="/recipes/create">Создать рецепт</a>
  </div>
  
  <div class="navbar__right">
    <div class="user" *tuiLet="auth.activeUser$ | async as user">
      <tui-svg icon="tuiIconUserLarge"></tui-svg>

      <p class="user__name">
        {{user ? user.name || 'Юзер ' + user.id : 'Гость'}}
      </p>
    </div>

    <div class="users" *tuiLet="auth.usersArray$ | async as users">
      <form class="users__select">
        <tui-select [valueContent]="userLabel" [tuiTextfieldLabelOutside]="true">
          <tui-data-list *tuiDataList>
            <button
              *ngFor="let user of users"
              tuiOption
              [value]="user"
            >
              {{ user.name || 'Юзер ' + user.id }}
            </button>
          </tui-data-list>
        </tui-select>
      </form>
      <ng-template #userLabel let-user>
        {{user.name || 'Юзер ' + user.id}}
      </ng-template>
    </div>

    <a tuiButton routerLink="/login/signin" class="login-btn">Войти</a>
    <a tuiButton routerLink="/login/signup" class="login-btn">Создать и войти</a>
  </div>
</div>


<router-outlet />

</tui-root>